<form *ngIf="choiceOptions && choiceOptions.length > 0 || editable"
      name="optionsForm" role="form" nonvalidate  #optionsForm="ngForm">
    <ul class="card">
        <li *ngFor="let option of choiceOptions; let i = index" [class.editing]="option.isEditing">
            <span *ngIf="option.isEditing">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionChoiceOption.correct" for="field_correct-{{i}}">Correct</label>
                    <input type="checkbox" class="form-control" name="correct-{{i}}" id="field_correct-{{i}}"
                           [(ngModel)]="option.correct"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionChoiceOption.text" for="field_text-{{i}}">Text</label>
                    <input type="text" class="form-control" name="text-{{i}}" id="field_text-{{i}}"
                           [(ngModel)]="option.text" required />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionChoiceOption.memo" for="field_memo-{{i}}">Memo</label>
                    <input type="text" class="form-control" name="memo-{{i}}" id="field_memo-{{i}}"
                           [(ngModel)]="option.memo"  />
                </div>
            </span>
            <span *ngIf="!option.isEditing">
                <span class="correct">{{option.correct | trueFalseSymbol}}</span>
                <span class="option">
                    <jhi-markup-render [text]="option.text" [images]="option.images"></jhi-markup-render>
                </span>
                <span class="memo" *ngIf="option.memo">{{option.memo}}</span>
            </span>
            <span *ngIf="editable" class="btn-group flex-btn-group-container edit-btn-group text-right">
                <button class="btn btn-primary btn-sm" type="submit"
                        (click)="option.isEditing = !option.isEditing"
                        [disabled]="(!option.isEditing && isEditing()) || optionsForm.form.invalid">
                    <span *ngIf="!option.isEditing" class="fa fa-pencil"></span>
                    <span *ngIf="option.isEditing" class="fa fa-save"></span>
                    <span *ngIf="!option.isEditing" class="hidden-sm-down"
                          jhiTranslate="entity.action.edit">Edit</span>
                    <span *ngIf="option.isEditing" class="hidden-sm-down"
                          jhiTranslate="entity.action.save">Save</span>
                </button>
                <button (click)="removeOption(i)"class="btn btn-danger btn-sm">
                    <span class="fa fa-remove"></span>
                    <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                </button>
            </span>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-12">
            <button *ngIf="editable" (click)="addOption()" [disabled]="isEditing()"
                    class="btn btn-sm btn-primary pull-right">
                <span class="fa fa-plus"></span>
                <span class="hidden-sm-down"  jhiTranslate="kavsirApp.questionChoiceOption.home.createLabel">
                    Create new Question Choice Option
                </span>
            </button>
        </div>
    </div>
</form>
