<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoryNode">
            <h2><span jhiTranslate="kavsirApp.categoryNode.detail.title">Category Node</span> {{categoryNode.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kavsirApp.categoryNode.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'kavsirApp.CategoryType.' + categoryNode.type}}">{{categoryNode.type}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.categoryNode.typeId" [ngbTooltip]="'kavsirApp.categoryNode.help.typeId' | translate">Type Id</span></dt>
                <dd>
                    <span>{{categoryNode.typeId}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.categoryNode.name" [ngbTooltip]="'kavsirApp.categoryNode.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{categoryNode.name}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.categoryNode.position" [ngbTooltip]="'kavsirApp.categoryNode.help.position' | translate">Position</span></dt>
                <dd>
                    <span>{{categoryNode.position}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.categoryNode.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="categoryNode.parentId">
                        <a [routerLink]="['/category-node', categoryNode.parentId, 'view']">{{categoryNode.parentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category-node', categoryNode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
