<div>
    <h2>
        <span jhiTranslate="kavsirApp.questionTrueFalse.home.title">Question True Falses</span>
        <button class="btn btn-primary float-right create-question-true-false" [routerLink]="['/', { outlets: { popup: ['question-true-false-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="kavsirApp.questionTrueFalse.home.createLabel">
            Create new Question True False
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kavsirApp.questionTrueFalse.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="questionTrueFalses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="correct"><span jhiTranslate="kavsirApp.questionTrueFalse.correct">Correct</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="kavsirApp.questionTrueFalse.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="memo"><span jhiTranslate="kavsirApp.questionTrueFalse.memo">Memo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupPosition"><span jhiTranslate="kavsirApp.questionTrueFalse.groupPosition">Group Position</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="questionGroup.id"><span jhiTranslate="kavsirApp.questionTrueFalse.questionGroup">Question Group</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionTrueFalse of questionTrueFalses ;trackBy: trackId">
                <td><a [routerLink]="['../question-true-false', questionTrueFalse.id ]">{{questionTrueFalse.id}}</a></td>
                <td>{{questionTrueFalse.correct ? '◯' : '╳'}}</td>
                <td><span [jhiMathJax]="questionTrueFalse.text"></span></td>
                <td>{{questionTrueFalse.memo}}</td>
                <td>{{questionTrueFalse.groupPosition}}</td>
                <td>
                    <div *ngIf="questionTrueFalse.questionGroup">
                        <a [routerLink]="['../question-group', questionTrueFalse.questionGroup?.id ]" >{{questionTrueFalse.questionGroup?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../question-true-false', questionTrueFalse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'question-true-false/'+ questionTrueFalse.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'question-true-false/'+ questionTrueFalse.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="questionTrueFalses && questionTrueFalses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
