<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionTrueFalse">
            <h2><span jhiTranslate="kavsirApp.questionTrueFalse.detail.title">Question True False</span> {{questionTrueFalse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.correct" [ngbTooltip]="'kavsirApp.questionTrueFalse.help.correct' | translate">Correct</span></dt>
                <dd>
                    <span>{{questionTrueFalse.correct}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.text" [ngbTooltip]="'kavsirApp.questionTrueFalse.help.text' | translate">Text</span></dt>
                <dd>
                    <span>{{questionTrueFalse.text}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.memo" [ngbTooltip]="'kavsirApp.questionTrueFalse.help.memo' | translate">Memo</span></dt>
                <dd>
                    <span>{{questionTrueFalse.memo}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.groupPosition" [ngbTooltip]="'kavsirApp.questionTrueFalse.help.groupPosition' | translate">Group Position</span></dt>
                <dd>
                    <span>{{questionTrueFalse.groupPosition}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.category">Category</span></dt>
                <dd>
                    <span *ngFor="let category of questionTrueFalse.categories; let last = last">
                        <a [routerLink]="['/category-node', category?.id, 'view' ]">{{category.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.image">Image</span></dt>
                <dd>
                    <span *ngFor="let image of questionTrueFalse.images; let last = last">
                        <a [routerLink]="['/resource-image', image?.id, 'view' ]">{{image.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.questionTrueFalse.questionGroup">Question Group</span></dt>
                <dd>
                    <div *ngIf="questionTrueFalse.questionGroupId">
                        <a [routerLink]="['/question-group', questionTrueFalse.questionGroupId, 'view']">{{questionTrueFalse.questionGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-true-false', questionTrueFalse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
