<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-question-essay-heading" jhiTranslate="kavsirApp.questionEssay.home.createOrEditLabel">Create or edit a Question Essay</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!questionEssay.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionEssay.text" for="field_text" [ngbTooltip]="'kavsirApp.questionEssay.help.text' | translate">Text</label>
                    <div class="input-group">
                        <textarea class="form-control" name="text" id="field_text"
                              formControlName="text"></textarea>
                        <button type="button" class="input-group-addon btn btn-info" (click)="preview = !preview">
                            <span [class]="'fa fa-eye' + (showPreview ? '-slash' : '')"></span>
                        </button>
                    </div>
                    <div *ngIf="editForm.get('text').invalid && (editForm.get('text').dirty || editForm.get('text').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('text').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    <div *ngIf="showPreview" class="card"
                         style="margin-top: 0.5em; padding: 0.5em; background-color: #eee">
                        <jhi-markup-render [text]="questionEssay.text" [images]="questionEssay.images"></jhi-markup-render>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionEssay.answer" for="field_answer" [ngbTooltip]="'kavsirApp.questionEssay.help.answer' | translate">Answer</label>
                    <div class="input-group">
                        <textarea class="form-control" name="answer" id="field_answer"
                              formControlName="answer"></textarea>
                        <button type="button" class="input-group-addon btn btn-info" (click)="preview = !preview">
                            <span [class]="'fa fa-eye' + (showPreview ? '-slash' : '')"></span>
                        </button>
                    </div>
                    <div *ngIf="editForm.get('answer').invalid && (editForm.get('answer').dirty || editForm.get('answer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('answer').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                    <div *ngIf="showPreview" class="card"
                         style="margin-top: 0.5em; padding: 0.5em; background-color: #eee">
                        <jhi-markup-render [text]="questionEssay.text" [images]="questionEssay.images"></jhi-markup-render>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionEssay.memo" for="field_memo" [ngbTooltip]="'kavsirApp.questionEssay.help.memo' | translate">Memo</label>
                    <input type="text" class="form-control" name="memo" id="field_memo"
                           formControlName="memo"/>
                </div>
                <div *ngIf="inGroup" class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionEssay.groupPosition" for="field_groupPosition" [ngbTooltip]="'kavsirApp.questionEssay.help.groupPosition' | translate">Group Position</label>
                    <input type="number" class="form-control" name="groupPosition" id="field_groupPosition"
                           formControlName="groupPosition"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="kavsirApp.questionEssay.category" for="field_categories">Category</label>
                    <select class="form-control" id="field_categories" multiple name="categories" formControlName="categories">
                        <option [ngValue]="getSelected(editForm.get('categories').value, categoryNodeOption)" *ngFor="let categoryNodeOption of categorynodes; trackBy: trackCategoryNodeById">{{categoryNodeOption.id | categoryPathName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="kavsirApp.questionEssay.image" for="field_images">Image</label>
                    <jhi-images [images]="questionEssay.images" id="field_image"></jhi-images>
                </div>
                <div *ngIf="inGroup" class="form-group">
                    <label class="form-control-label" jhiTranslate="kavsirApp.questionEssay.questionGroup" for="field_questionGroup">Question Group</label>
                    <select class="form-control" id="field_questionGroup" name="questionGroup" formControlName="questionGroupId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionGroupOption.id" *ngFor="let questionGroupOption of questiongroups; trackBy: trackQuestionGroupById">{{questionGroupOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
