
<div *ngIf="questionEssay">
    <h2><span jhiTranslate="kavsirApp.questionEssay.detail.title">Question Essay</span> {{questionEssay.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kavsirApp.questionEssay.text">Text</span></dt>
        <dd>
            <span>{{questionEssay.text}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionEssay.answer">Answer</span></dt>
        <dd>
            <span>{{questionEssay.answer}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionEssay.memo">Memo</span></dt>
        <dd>
            <span>{{questionEssay.memo}}</span>
        </dd>
        <dt *ngIf="inGroup"><span jhiTranslate="kavsirApp.questionEssay.groupPosition">Group Position</span></dt>
        <dd *ngIf="inGroup">
            <span>{{questionEssay.groupPosition}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionEssay.category">Category</span></dt>
        <dd>
            <span *ngFor="let category of questionEssay.categories; let last = last">
                <a [routerLink]="['/category-node', category?.id ]">{{category.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionEssay.image">Image</span></dt>
        <dd>
            <span *ngFor="let image of questionEssay.images; let last = last">
                <a [routerLink]="['/resource-image', image?.id ]">{{image.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt *ngIf="inGroup"><span jhiTranslate="kavsirApp.questionEssay.questionGroup">Question Group</span></dt>
        <dd *ngIf="inGroup">
            <div *ngIf="questionEssay.questionGroup">
                <a [routerLink]="['/question-group', questionEssay.questionGroup?.id]">{{questionEssay.questionGroup?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question-essay/'+ questionEssay.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
