<div id="category" class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title" jhiTranslate="question.type.trueFalse">True/False</h4>
                <a routerLink="/question/true-false" routerLinkActive="active">
                    <i class="fa fa-5x fa-check-circle" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title" jhiTranslate="question.type.choice">Choice</h4>
                <a routerLink="/question/choice" routerLinkActive="active">
                    <i class="fa fa-5x fa-list-ul" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title" jhiTranslate="question.type.multipleResponse">Multiple Response</h4>
                <a routerLink="/question/multiple-response" routerLinkActive="active">
                    <i class="fa fa-5x fa-list-ol" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title" jhiTranslate="question.type.essay">Essay</h4>
                <a routerLink="/question/essay" routerLinkActive="active">
                    <i class="fa fa-5x fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
