
<div *ngIf="categorySource">
    <h2><span jhiTranslate="kavsirApp.categorySource.detail.title">Category Source</span> {{categorySource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kavsirApp.categorySource.position" [ngbTooltip]="'kavsirApp.categorySource.help.position' | translate">Position</span></dt>
        <dd>
            <span>{{categorySource.position}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.categorySource.name" [ngbTooltip]="'kavsirApp.categorySource.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{categorySource.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-source/'+ categorySource.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
