<div class="row category-label">
    <div class="col-sm-12">
        <h2>
            {{ categoryHierarchyService.getWorkingCategory() ?
            categoryHierarchyService.pathDisplayName(categoryHierarchyService.getWorkingCategory().id) :
            ( 'category.all' | translate) }}
        </h2>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'category-select/' + ((categories && categories[0] && categories[0].data) ? categories[0].data.id : -1) } }]"
                replaceUrl="true"
                class="btn btn-primary btn-sm category-select-button" style="display: inline-block">
            <span class="fa fa-tags"></span>
            <span class="hidden-md-down" jhiTranslate="category.action.select">Select</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <jhi-category-choice [categoryHierarchyService]="categoryHierarchyService"></jhi-category-choice>
    </div>
</div>
