
<div *ngIf="categoryAcademicYear">
    <h2><span jhiTranslate="kavsirApp.categoryAcademicYear.detail.title">Category Academic Year</span> {{categoryAcademicYear.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kavsirApp.categoryAcademicYear.position" [ngbTooltip]="'kavsirApp.categoryAcademicYear.help.position' | translate">Position</span></dt>
        <dd>
            <span>{{categoryAcademicYear.position}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.categoryAcademicYear.name" [ngbTooltip]="'kavsirApp.categoryAcademicYear.help.name' | translate">Name</span></dt>
        <dd>
            <span>{{categoryAcademicYear.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'category-academic-year/'+ categoryAcademicYear.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
