
<div *ngIf="questionChoice">
    <h2><span jhiTranslate="kavsirApp.questionChoice.detail.title">Question Choice</span> {{questionChoice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="kavsirApp.questionChoice.multipleResponse">Multiple Response</span></dt>
        <dd>
            <span>{{questionChoice.multipleResponse}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.text">Text</span></dt>
        <dd>
            <span>{{questionChoice.text}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.memo">Memo</span></dt>
        <dd>
            <span>{{questionChoice.memo}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.groupPosition">Group Position</span></dt>
        <dd>
            <span>{{questionChoice.groupPosition}}</span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.category">Category</span></dt>
        <dd>
            <span *ngFor="let category of questionChoice.categories; let last = last">
                <a [routerLink]="['/category-node', category?.id ]">{{category.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.image">Image</span></dt>
        <dd>
            <span *ngFor="let image of questionChoice.images; let last = last">
                <a [routerLink]="['/resource-image', image?.id ]">{{image.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="kavsirApp.questionChoice.questionGroup">Question Group</span></dt>
        <dd>
            <div *ngIf="questionChoice.questionGroup">
                <a [routerLink]="['/question-group', questionChoice.questionGroup?.id]">{{questionChoice.questionGroup?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question-choice/'+ questionChoice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
