<div class="row category-label">
    <div class="col-sm-12">
        <h2>
            {{ categoryHierarchyService.getWorkingCategory() ?
            categoryHierarchyService.pathDisplayName(categoryHierarchyService.getWorkingCategory().id) :
               ( 'category.all' | translate) }}
        </h2>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'category-select/' + (categoryHierarchyService.getWorkingCategory() ? categoryHierarchyService.getWorkingCategory().id : -1) } }]"
                replaceUrl="true"
                class="btn btn-primary btn-sm category-select-button" style="display: inline-block">
            <fa-icon icon="tags"></fa-icon>
            <span class="hidden-md-down" jhiTranslate="category.action.select">Select</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <jhi-category-true-false [categoryHierarchyService]="categoryHierarchyService"></jhi-category-true-false>
    </div>
</div>
