<ngb-accordion #acc="ngbAccordion" activeIds="category, hierarchy">
    <ngb-panel id="category">
        <template ngbPanelTitle>
            <span><i class="fa fa-tags" aria-hidden="true"></i> 類別</span>
        </template>
        <template ngbPanelContent>
            <ngb-tabset>
                <ngb-tab title="學年">
                    <template ngbTabContent>
                        <div class="table-responsive" *ngIf="categoryAcademicYears">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span jhiTranslate="kavsirApp.categoryAcademicYear.name">Name</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let categoryAcademicYear of categoryAcademicYears; let first = first; let last = last">
                                    <td>{{categoryAcademicYear.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../category-academic-year', categoryAcademicYear.id ]"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-academic-year/'+ categoryAcademicYear.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-academic-year/'+ categoryAcademicYear.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="first"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-up"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.up">Move Up</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="last"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-down"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.down">Move Down</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary float-right create-category-academic-year"
                                [routerLink]="['/', { outlets: { popup: ['category-academic-year-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" jhiTranslate="kavsirApp.categoryAcademicYear.home.createLabel">
                            Create new Category Academic Year
                        </span>
                        </button>
                    </template>
                </ngb-tab>
                <ngb-tab title="年級">
                    <template ngbTabContent>
                        <div class="table-responsive" *ngIf="categoryGrades">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span jhiTranslate="kavsirApp.categoryGrade.name">Name</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let categoryGrade of categoryGrades; let first = first; let last = last">
                                    <td>{{categoryGrade.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../category-grade', categoryGrade.id ]"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-grade/'+ categoryGrade.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-grade/'+ categoryGrade.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="first"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-up"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.up">Move Up</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="last"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-down"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.down">Move Down</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary float-right create-category-grade"
                                [routerLink]="['/', { outlets: { popup: ['category-grade-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" jhiTranslate="kavsirApp.categoryGrade.home.createLabel">
                            Create new Category Grade
                        </span>
                        </button>
                    </template>
                </ngb-tab>
                <ngb-tab title="學期">
                    <template ngbTabContent>
                        <div class="table-responsive" *ngIf="categorySemesters">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span jhiTranslate="kavsirApp.categorySemester.name">Name</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let categorySemester of categorySemesters; let first = first; let last = last">
                                    <td>{{categorySemester.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../category-semester', categorySemester.id ]"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-semester/'+ categorySemester.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-semester/'+ categorySemester.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="first"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-up"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.up">Move Up</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="last"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-down"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.down">Move Down</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary float-right create-category-semester"
                                [routerLink]="['/', { outlets: { popup: ['category-semester-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" jhiTranslate="kavsirApp.categorySemester.home.createLabel">
                            Create new Category Semester
                        </span>
                        </button>
                    </template>
                </ngb-tab>
                <ngb-tab title="科目">
                    <template ngbTabContent>
                        <div class="table-responsive" *ngIf="categorySubjects">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span jhiTranslate="kavsirApp.categorySubject.name">Name</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let categorySubject of categorySubjects; let first = first; let last = last">
                                    <td>{{categorySubject.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../category-subject', categorySubject.id ]"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-subject/'+ categorySubject.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-subject/'+ categorySubject.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="first"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-up"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.up">Move Up</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="last"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-down"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.down">Move Down</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary float-right create-category-subject"
                                [routerLink]="['/', { outlets: { popup: ['category-subject-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" jhiTranslate="kavsirApp.categorySubject.home.createLabel">
                            Create new Category Subject
                        </span>
                        </button>
                    </template>
                </ngb-tab>
                <ngb-tab title="出版社">
                    <template ngbTabContent>
                        <div class="table-responsive" *ngIf="categoryPublishers">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span jhiTranslate="kavsirApp.categoryPublisher.name">Name</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let categoryPublisher of categoryPublishers; let first = first; let last = last">
                                    <td>{{categoryPublisher.name}}</td>
                                    <td class="text-right">
                                        <div class="btn-group flex-btn-group-container">
                                            <button type="submit"
                                                    [routerLink]="['../category-publisher', categoryPublisher.id ]"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-eye"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.view">View</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-publisher/'+ categoryPublisher.id + '/edit'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-primary btn-sm">
                                                <span class="fa fa-pencil"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/', { outlets: { popup: 'category-publisher/'+ categoryPublisher.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    class="btn btn-danger btn-sm">
                                                <span class="fa fa-remove"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="entity.action.delete">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="first"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-up"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.up">Move Up</span>
                                            </button>
                                            <button type="submit"
                                                    [disabled]="last"
                                                    class="btn btn-info btn-sm">
                                                <span class="fa fa-arrow-down"></span>
                                                <span class="hidden-md-down"
                                                      jhiTranslate="global.action.move.down">Move Down</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary float-right create-category-publisher"
                                [routerLink]="['/', { outlets: { popup: ['category-publisher-new'] } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down" jhiTranslate="kavsirApp.categoryPublisher.home.createLabel">
                            Create new Category Publisher
                        </span>
                        </button>
                    </template>
                </ngb-tab>
            </ngb-tabset>
        </template>
    </ngb-panel>
    <ngb-panel id="hierarchy">
        <template ngbPanelTitle>
            <span><i class="fa fa-sitemap" aria-hidden="true"></i> 類別階層</span>
        </template>
        <template ngbPanelContent>
            <tree-root id="categoryTree" [focused]="true" [nodes]="nodes" [options]="options">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <form class="form-inline" #categoryNodeForm="ngForm">
                        <span>
                            <span *ngIf="node.level > 1 && node.level <= 6">
                                {{ categoryNodeDisplayName(node.data) }}
                            </span>
                            <span *ngIf="node.level == 1 || (node.level > 6 && !node.data.isEditing)">
                                {{ node.data.name }}
                            </span>
                            <input *ngIf="node.level > 6 && node.data.isEditing"
                                   name="name" type="text" class="form-control"
                                   [(ngModel)]="node.data.name" placeholder="輸入類別名稱" required/>
                        </span>
                        <div class="btn-group flex-btn-group-container pull-right">
                            <button *ngIf="node.level <= 5" class="btn btn-info btn-sm"
                                    ngbDropdown [id]="'dropdownBasic' + index" ngbDropdownToggle #myDrop="ngbDropdown"
                                    (click)="$event.stopPropagation()"
                                    [disabled]="childrenCount(node) >= availableCategoryChildren(node.level).length">
                                <span class="fa fa-plus"></span>
                                <span class="hidden-sm-down">新增{{categoryLevelName(node.level)}}</span>
                                <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownBasic' + index">
                                    <button class="dropdown-item"
                                            *ngFor="let item of availableCategoryChildren(node.level)"
                                            (click)="addCategoryChild(node, item)"
                                            [disabled]="isItemExisted(node.children || [], item)">
                                        {{item.name}}
                                    </button>
                                </div>
                            </button>
                            <button *ngIf="node.level > 6" class="btn btn-primary btn-sm" type="submit"
                                    (click)="node.data.isEditing = !node.data.isEditing"
                                    [disabled]="!categoryNodeForm.valid">
                                <span *ngIf="!node.data.isEditing" class="fa fa-pencil"></span>
                                <span *ngIf="node.data.isEditing" class="fa fa-save"></span>
                                <span *ngIf="!node.data.isEditing" class="hidden-sm-down">編輯</span>
                                <span *ngIf="node.data.isEditing" class="hidden-sm-down">儲存</span>
                            </button>
                            <button *ngIf="node.level > 5" class="btn btn-info btn-sm" (click)="addSegmentChild(node)">
                                <span class="fa fa-plus"></span>
                                <span class="hidden-sm-down">新增子類別</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </tree-root>

            <button class="btn btn-primary float-right">
                <span class="fa fa-save"></span>
                <span class="hidden-sm-down" (click)="alert('還沒做好')">儲存</span>
            </button>
        </template>
    </ngb-panel>
</ngb-accordion>
