<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categorySemester">
            <h2><span jhiTranslate="kavsirApp.categorySemester.detail.title">Category Semester</span> {{categorySemester.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kavsirApp.categorySemester.position" [ngbTooltip]="'kavsirApp.categorySemester.help.position' | translate">Position</span></dt>
                <dd>
                    <span>{{categorySemester.position}}</span>
                </dd>
                <dt><span jhiTranslate="kavsirApp.categorySemester.name" [ngbTooltip]="'kavsirApp.categorySemester.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{categorySemester.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category-semester', categorySemester.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
